/notes/
/IDSSE_notebooks/data/*
/IDSSE_notebooks/figure/*
/IDSSE_notebooks/output/output_pkl/*
/IDSSE_notebooks/output/output_log/*
/Metrica_notebooks/sample-data/*
/Metrica_notebooks/figure/*
/.vscode/
/.venv/
/__pycache__/
/playground.ipynb
/tracking_game1.jsonocel
/Metrica_notebooks/output_logs/*
/archieved/
/TranslucentActivityRelationships/*
/trans/*
*.egg-info/
.DS_Store
/FuzzyMiner/
/fuzzy/